// Custom variables
$min-contrast-ratio: 2.0;
$primary: #f44725;
$dark: hsl(0, 0%, 5%);
$light: hsl(0, 0%, 92%);
$secondary: hsl(0, 0%, 92%);
$body-bg: $dark;
$body-color: $light;
$color-contrast-dark: $dark;
$color-contrast-light: $light;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";