{% extends "base.html" %}

{% block title %}Edit Workout - Ares{% endblock %}

{% block body %}

    <div class="container">

        <!-- Select workout -->
        <select aria-label="Select workout" id="select_workout">
            {% for workout in user.workouts %}
                <option value="{{ workout.id }}">{{ workout.name }}</option>
            {% endfor %}
        </select>

        <!-- Workout forms -->
        {% for workout in user.workouts %}
            <div class="workout {{ workout.id }}"hidden>
                <form autocomplete="off" method="POST">
                    <div class="workout-inputs">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == "error" %}
                                        <div class="alert alert-error show" role="alert">
                                            <span>{{ message }}</span>
                                            <button type="button" class="alert-close">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-success show" role="alert">
                                            <span>{{ message }}</span>
                                            <button type="button" class="alert-close">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}   
                        <input class="text-input" type="text" name="workout_name" placeholder="Workout name" value="{{ workout.name }}" maxlength="12" required>
                        <input class="text-input" type="text" name="workout_description" placeholder="Description" value="{{ workout.description }}" maxlength="18">
                    </div>
                    <div class="exercises-edit {{ workout.id }}">
                        <div class="template {{ workout.id }}">
                            <div class="exercise-edit" hidden>
                                <input class="exercise-edit-name" type="text" name="exercise_name" placeholder="Exercise name" maxlength="45" required disabled>
                                <div class="exercise-edit-options">
                                    <input class="include_details_hidden" type="hidden" value="0" name="include_details" disabled>
                                    <label class="checkbox">
                                        <input class="include_details" type="checkbox" value="1" name="include_details" disabled>
                                        <span>Include details</span>
                                    </label>
                                    <i class="handle fa-solid fa-grip-lines"></i>
                                    <i class="delete fa-solid fa-xmark"></i>
                                </div>
                                <div class="exercise-info" hidden>
                                    <input type="hidden" name="weight" value="None" disabled>
                                    <input type="hidden" name="details" disabled>
                                </div>
                            </div>
                        </div>
                        {% for exercise in workout.exercises %}
                            <div class="exercise-edit">
                                <input class="exercise-edit-name" type="text" name="exercise_name" placeholder="Exercise name" value="{{ exercise.name }}" maxlength="45" required>
                                <div class="exercise-edit-options">
                                    <input class="include_details_hidden {{ exercise.id }}" type="hidden" value="0" name="include_details">
                                    <label class="checkbox">
                                        <input class="include_details {{ exercise.id }}" type="checkbox" value="1" name="include_details">
                                        <span>Include details</span>
                                    </label>
                                    <i class="handle fa-solid fa-grip-lines"></i>
                                    <i class="delete fa-solid fa-xmark"></i>
                                </div>
                                <div class="exercise-info" hidden>
                                    <input type="hidden" name="weight" value="{{ exercise.weight }}">
                                    <input type="hidden" name="details" value="{{ exercise.details }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-secondary add {{ workout.id }}" title="Add exercise">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button class="btn btn-primary save {{ workout.id }}" type="submit">Save changes</button>
                    <div class="workout-info" hidden>
                        <input type="hidden" name="workout" value="{{ workout.id }}">
                        <input type="hidden" name="request_type" value="save">
                    </div>
                </form>
                <form method="POST">
                    <div class="buttons">
                        <button type="submit" class="btn btn-tertiary cancel {{ workout.id }}" name="workout" value="{{ workout.id }}">Cancel</button>
                        <input type="hidden" name="request_type" value="cancel">
                    </div>
                </form>
                <div class="buttons">
                    <a class="modal-open {{ workout.id }}" type="button">Delete workout</a>
                </div>
            </div>
            <div class="modal-container {{ workout.id }}">
                <div class="modal">
                    <h2 class="modal-title">Delete workout</h2>
                    <p class="modal-text">Do you really wish to delete the workout? This cannot be undone.</p>
                    <div class="modal-buttons">
                        <form method="POST">
                            <button type="submit" class="btn btn-primary" name="workout" value="{{ workout.id }}">Delete</button>
                            <input type="hidden" name="request_type" value="delete">
                        </form>
                        <button type="button" class="modal-close {{ workout.id }} btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <!-- JavaScript -->
    {% if displayRequested %}
        <script>
            /* Select requested workout */
            var select_workout = document.getElementById("select_workout")
            var requested_workout = "{{ requested_workout }}"
            select_workout.value = requested_workout
        </script>
    {% endif %}

    {% for workout in user.workouts %}
        <script>

            /* Handle first hidden inputs for include_details */
            for (let i = 1; i < document.getElementsByClassName("exercises-edit {{ workout.id }}")[0].getElementsByClassName("include_details").length; i++) {
                document.getElementsByClassName("exercises-edit {{ workout.id }}")[0].getElementsByClassName("include_details")[i].addEventListener("change", function() {
                    if (document.getElementsByClassName("exercises-edit {{ workout.id }}")[0].getElementsByClassName("include_details")[i].checked) {
                        document.getElementsByClassName("exercises-edit {{ workout.id }}")[0].getElementsByClassName("include_details_hidden")[i].disabled = true
                    }
                    else {
                        document.getElementsByClassName("exercises-edit {{ workout.id }}")[0].getElementsByClassName("include_details_hidden")[i].disabled = false
                    }
                })
            }
            
            /* Add exercise function */
            document.getElementsByClassName("add {{ workout.id }}")[0].addEventListener("click", function() {

                /* Clone template */
                var template = document.getElementsByClassName("template {{ workout.id }}")[0].getElementsByClassName("exercise-edit")[0]
                var clone = template.cloneNode(true)

                /* Show and enable inputs */
                clone.hidden = false
                var clone_inputs = clone.getElementsByTagName("input")
                for (let i = 0; i < clone_inputs.length; i++) {
                    clone_inputs[i].disabled = false
                }

                /* Handle hidden inputs for include_details */
                var checkbox = clone.getElementsByClassName("include_details")[0]
                var hidden_input = clone.getElementsByClassName("include_details_hidden")[0]
                checkbox.addEventListener("change", function() {
                    if (checkbox.checked) {
                        hidden_input.disabled = true
                    }
                    else {
                        hidden_input.disabled = false
                    }
                })

                /* Add listener for delete exercise button */
                var delete_button = clone.getElementsByClassName("delete")[0]
                delete_button.addEventListener("click", function() {
                    delete_button.parentElement.parentElement.remove()
                })

                /* Add to exercises */
                document.getElementsByClassName("exercises-edit {{ workout.id }}")[0].appendChild(clone)

            })

            /* Create sortable list */
            new Sortable(document.getElementsByClassName("exercises-edit {{ workout.id }}")[0], {
                animation: 250,
                handle: ".handle"
            })

            /* Delete-exercise modal */
            document.getElementsByClassName("modal-open {{ workout.id }}")[0].addEventListener("click", () => {
                document.getElementsByClassName("modal-container {{ workout.id }}")[0].classList.add("show")
            })
            document.getElementsByClassName("modal-close {{ workout.id }}")[0].addEventListener("click", () => {
                document.getElementsByClassName("modal-container {{ workout.id }}")[0].classList.remove("show")
            })

        </script>
        {% for exercise in workout.exercises %}
            <script>

                /* Select checkboxes based on database */
                if ("{{ exercise.include_details }}" == "True") {
                    var include_details = document.getElementsByClassName("include_details {{ exercise.id }}")[0]
                    var include_details_hidden = document.getElementsByClassName("include_details_hidden {{ exercise.id }}")[0]
                    include_details.checked = true
                    include_details_hidden.disabled = true
                }

            </script>
        {% endfor %}
    {% endfor %}

    <script type="text/javascript" src="/static/js/edit-workout.js"></script>
    <script type="text/javascript" src="/static/js/alert.js"></script>

{% endblock %}