{% extends "base.html" %}

{% block active %}
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/workout">Workout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>
{% endblock %}

{% block body %}
    
<div class="container">

    <!-- Workouts -->
    {% for workout in user.workouts %}
        <div class="workout-wrapper">
            <form action="/workout" method="POST">
                {% if workout.description %}
                    <button type="submit" class="btn btn-primary btn-workout" name="workout" value="{{ workout.id }}">
                        <h2>{{ workout.name }}</h2>
                        <p class="workout-lead">{{ workout.description }}</p>
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-primary btn-workout no-description" name="workout" value="{{ workout.id }}">
                        <h2>{{ workout.name }}</h2>
                    </button>
                {% endif %}
            </form>
            <form action="/edit-workout" method="POST">
                <button title="Edit Workout" type="submit" class="btn-edit" name="workout" value="{{ workout.id }}">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </form>
        </div>
    {% endfor %}

    <!-- Buttons -->
    <div class="buttons">
        <a class="btn btn-secondary" href="/new-workout" role="button">Add workout</a>
    </div>
    
</div>

{% endblock %}