{% extends "base.html" %}

{% block navbar %}{% endblock %}

{% block body %}

    <!-- Welcome -->
    <div class="container-body">
        <div class="container-flex">
            <div>
                <img id="logo-index" src="/static/images/logo.png" alt="Ares Workout">
            </div>
            <div id="subtitle-index">
                WELCOME TO
            </div>
            <div id="title-index">
                <span class="text-primary">ARES</span>&nbsp;WORKOUT
            </div>
            <div>
                <a class="btn btn-light btn-index m-2" href="/login" role="button">Log in</a>
            </div>
            <div>
                <a class="btn btn-primary btn-index" href="/create-account" role="button">Create account</a>
            </div>
        </div>
    </div>

{% endblock %}