{% extends "base.html" %}

{% block title %}New Workout - Ares{% endblock %}

{% block body %}

    <div class="container">

        <!-- Alerts -->


        <!-- Workout form -->
        <form id="workout" autocomplete="off" method="POST">
            <div class="workout-inputs">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "error" %}
                                <div class="alert alert-error show" role="alert">
                                    <span>{{ message }}</span>
                                    <button type="button" class="alert-close">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </div>
                            {% else %}
                                <div class="alert alert-success show" role="alert">
                                    <span>{{ message }}</span>
                                    <button type="button" class="alert-close">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}   
                <input class="text-input" type="text" name="workout_name" placeholder="Workout name" maxlength="12" required>
                <input class="text-input" type="text" name="workout_description" placeholder="Description" maxlength="18">
            </div>
            <div id="template">
                <div class="exercise-edit" hidden>
                    <input class="exercise-edit-name" type="text" name="exercise_name" placeholder="Exercise name" maxlength="45" required disabled>
                    <div class="exercise-edit-options">
                        <input class="include_details_hidden" type="hidden" value="0" name="include_details" disabled>
                        <label class="checkbox">
                            <input class="include_details" type="checkbox" value="1" name="include_details" disabled>
                            <span>Include details</span>
                        </label>
                        <i class="handle fa-solid fa-grip-lines"></i>
                        <i class="delete fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
            <div id="exercises" class="exercises-edit">
                <div class="exercise-edit">
                    <input class="exercise-edit-name" type="text" name="exercise_name" placeholder="Exercise name" maxlength="45" required>
                    <div class="exercise-edit-options">
                        <input class="include_details_hidden" type="hidden" value="0" name="include_details">
                        <label class="checkbox">
                            <input class="include_details" type="checkbox" value="1" name="include_details">
                            <span>Include details</span>
                        </label>
                        <i class="handle fa-solid fa-grip-lines"></i>
                        <i class="delete fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" id="add_exercise" title="Add exercise">
                <i class="fa-solid fa-plus"></i>
            </button>
        </form>
        <div class="buttons">
            <button type="submit" class="btn btn-primary" form="workout">Save workout</button>
            <a href="/" class="btn btn-tertiary cancel">Cancel</a>
        </div>

    </div>

    <!-- JavaScript -->
    <script type="text/javascript" src="/static/js/new-workout.js"></script>
    <script type="text/javascript" src="/static/js/alert.js"></script>

{% endblock %}