{% extends "base.html" %}

{% block navbar %}{% endblock %}

{% block body %}
    
    <form method="POST">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="confirmation" placeholder="Confirm password">
            <label for="confirmation">Confirm password</label>
        </div>
        <button type="submit" class="btn btn-primary">Create account</button>
    </form>

{% endblock %}