{% extends "base.html" %}

{% block title %}Sign Up - Ares{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

<div class="container two-columns full-height">

    <div class="welcome">
        <div class="welcome-top">
            <img class="welcome-image" src="/static/images/logo.png" alt="Ares Workout Logo">
            <div class="welcome-headline">
                <h1 class="title">Welcome to Ares</h1>
                <p class="welcome-lead">Start tracking your workouts now!</p>
            </div>
            <form class="welcome-form" method="POST">
                <div class="input-with-icon">
                    <input class="text-input" type="email" placeholder="Email" name="email">
                    <i class="input-icon fa-solid fa-envelope"></i>
                </div>
                <div class="input-with-icon">
                    <input class="text-input" type="password" placeholder="Password" name="password">
                    <i class="input-icon fa-solid fa-lock"></i>
                </div>
                <div class="input-with-icon">
                    <input class="text-input" type="password" placeholder="Confirm password" name="confirmation">
                    <i class="input-icon fa-solid fa-lock"></i>
                </div>
                <button class="btn btn-primary" type="submit">Sign up</button>
            </form>
        </div>
        <div class="welcome-bottom">
            <p>Already have an account? <a class="text-primary" href="/signin">Sign in</a></p>
        </div>
    </div>

    <div class="intro">
        <div class="intro-content">
            <img class="intro-image" src="/static/images/intro.png" alt="Man working out">
            <h1 class="title">Never lose track</h1>
            <p class="intro-lead">For those who want to focus only on performing their absolute best. Have your exercises, weights, and machine adjustments for multiple workouts, all in one place, so you can get straight to work!</p>
        </div>
    </div>

</div>

{% endblock %}