{% extends "base.html" %}

{% block title %}Workout | Ares{% endblock %}

{% block active %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/workout">Workout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>
{% endblock %}

{% block body %}

    <div class="container">

        <!-- Select workout -->
        <select aria-label="Select workout" id="select_workout">
            {% for workout in user.workouts %}
                <option value="{{ workout.id }}">{{ workout.name }}</option>
            {% endfor %}
        </select>
        
        <!-- Exercises -->
        {% for workout in user.workouts %}
            <div class="workout {{ workout.id }}" hidden>
                <form method="POST" autocomplete="off">
                    <div class="exercises">
                        {% for exercise in workout.exercises %}
                            <div class="exercise">
                                <h2 class="exercise-name">{{ exercise.name }}</h2>
                                <div class="exercise-values">
                                    <div class="weight-span">
                                        <span class="weight-value text-primary">
                                            {% if (exercise.weight | float | is_integer) and (exercise.weight) or (exercise.weight == 0) %}
                                                {{ exercise.weight | int }}
                                            {% elif (exercise.weight == None) %}
                                                —
                                            {% else %}
                                                {{ exercise.weight }}
                                            {% endif %}
                                        </span>
                                        <span class="weight-unit">kg</span>
                                    </div>
                                    <div class="weight-input" hidden>
                                        <input class="weight-value" type="number" step="0.01" pattern="[0-9]+([\.,][0-9]+)?" placeholder="-" name="weight" value="{{ (exercise.weight | int) if (exercise.weight | float | is_integer) and (exercise.weight) or (exercise.weight == 0) else (exercise.weight) }}" maxlength="5">
                                        <span class="weight-unit">kg</span>
                                    </div>
                                    {% if exercise.include_details %}
                                        <input class="details" type="text" placeholder="-" name="details" value="{{ exercise.details }}" maxlength="5" hidden>
                                        <span class="details">{{ exercise.details or "—" }}</span>
                                    {% else %}
                                        <input type="hidden" name="details" value="">
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-primary edit {{ workout.id }}">Edit</button>
                    <button type="submit" class="btn btn-primary save {{ workout.id }}" hidden>Save changes</button>
                    <input type="hidden" name="workout" value="{{ workout.id }}">
                    <input type="hidden" name="request_type" value="save">
                </form>
                <form method="POST">
                    <div class="buttons">
                        <button type="submit" class="btn btn-tertiary cancel {{ workout.id }}" name="workout" value="{{ workout.id }}" hidden>Cancel</button>
                    </div>
                    <input type="hidden" name="request_type" value="cancel">
                </form>
            </div>
        {% endfor %}

    </div>

    <!-- JavaScript -->
    {% if displayRequested %}
        <script>
            /* Select requested workout */
            var select_workout = document.getElementById("select_workout")
            var requested_workout = "{{ requested_workout }}"
            select_workout.value = requested_workout
        </script>
    {% endif %}

    {% for workout in user.workouts %}
        <script>
            /* Listen for clicks on edit button and enable editing */
            document.getElementsByClassName("edit {{ workout.id }}")[0].addEventListener("click", function() {
                document.getElementsByClassName("edit {{ workout.id }}")[0].hidden = true
                document.getElementsByClassName("save {{ workout.id }}")[0].hidden = false
                document.getElementsByClassName("cancel {{ workout.id }}")[0].hidden = false
                for (let i = 0; i < document.getElementsByClassName("workout {{ workout.id }}")[0].querySelectorAll(".weight-input, input.details").length; i++) {
                    document.getElementsByClassName("workout {{ workout.id }}")[0].querySelectorAll(".weight-input, input.details")[i].hidden = false
                }
                for (let i = 0; i < document.getElementsByClassName("workout {{ workout.id }}")[0].querySelectorAll(".weight-span, span.details").length; i++) {
                    document.getElementsByClassName("workout {{ workout.id }}")[0].querySelectorAll(".weight-span, span.details")[i].hidden = true
                }
            })
        </script>
    {% endfor %}

    <script type="text/javascript" src="/static/js/workout.js"></script>

{% endblock %}